@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: nunito;
  color: #4e123a;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

/* media query h1*/
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

.bgHuno {
  color: #e2d3d3;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.537), rgba(0, 0, 0, 0.537)), url(../assets/img/gato\ con\ plantas_consejos\ 1920.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  height: 280px;
}

/* media query bgHuno*/
@media screen and (max-width: 768px) {
  .bgHuno {
    height: 150px;
  }
}
/*Estilos del Header*/
.navbar-dark.bgNavegacion {
  background-image: radial-gradient(circle, #3c7563, #458470, #4f937d, #58a28b, #62b299);
}
.navbar-dark.bgNavegacion .navbar-nav .nav-link.colorMorado {
  color: #4e123a;
  font-weight: 600;
}
.navbar-dark.bgNavegacion .navbar-nav .nav-link.colorMorado:hover {
  color: #6f385d;
  border-bottom: 2px solid #4e123a;
}
.navbar-dark.bgNavegacion .navbar-nav .nav-link.colorMoradoClaro {
  color: #6f385d;
  font-weight: 600;
}
.navbar-dark.bgNavegacion .navbar-nav .nav-link.colorMoradoClaro:hover {
  color: #4e123a;
  border-bottom: 2px solid #6f385d;
}

/* Estilos del Main index*/
.seccionTitulo {
  height: 85vh;
  object-fit: cover;
  padding-left: 30px;
  padding-top: 100px;
}
.seccionTitulo .parrafoMain {
  line-height: 2;
}
.seccionTitulo .btn.btn-primary {
  background-color: #767496;
  border-color: #d1bdaa;
}
.seccionTitulo .btn.btn-primary:hover {
  color: #e2d3d3;
  background-color: #969fff;
  border-color: #8e857c;
  font-weight: 500;
}

.bgFotoMain {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.537), rgba(0, 0, 0, 0.537)), url(../assets/img/gato-helecho.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.seccionTarjetasIndex .tituloSeccionTarjetasIndex {
  color: #e2d3d3;
  background-image: radial-gradient(circle, #767496, #60546b, #453744);
}
.seccionTarjetasIndex .bgTarjeta {
  background-image: radial-gradient(circle, #767496, #7f7eaf, #8889c9, #8f94e4, #969fff);
  color: #e2d3d3;
  border: none;
}
.seccionTarjetasIndex .bgTarjeta .card-img-top {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.seccionTarjetasIndex .card-text {
  color: #e2d3d3;
  font-weight: 600;
}

/*vista mobile*/
.carousel-item {
  height: 80vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.tituloProducto {
  color: #e2d3d3;
  background-color: #767496;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
}

.tituloSeccionTarjetasIndexMobile {
  color: #e2d3d3;
  background-image: radial-gradient(circle, #767496, #60546b, #453744);
}

/* media query main*/
@media screen and (max-width: 768px) {
  .seccionTitulo {
    height: 50vh;
    object-fit: cover;
    padding-top: 30px;
  }
  .btn-primary {
    margin-left: 150px;
    margin-top: 70px;
  }
}
/*Estilos del Main Contacto */
.bgContacto {
  background-image: url(../assets/img/borde-cactus-sobre-fondo-rosa.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.mapaContacto {
  width: 500px;
  height: 300px;
}

.form .form-label {
  color: #4e123a;
}

.btn.btn-info {
  color: #e2d3d3;
  background-color: #767496;
  border-style: none;
  font-weight: 400;
}
.btn.btn-info:hover {
  color: #4e123a;
  background-color: #969fff;
  border-color: #8e857c;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .mapaContacto {
    width: 300px;
    height: 300px;
    margin-left: 30px;
  }
}
/*Main Consejos*/
.mainConsejos.bgFotoConsejos {
  width: 100%;
  background-image: url(../assets/img/fondosucu.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.mainConsejos.bgFotoConsejos .card-img-top {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.mainConsejos.bgFotoConsejos .btn.btn-primary {
  width: 45%;
  background-color: #767496;
  border-color: #d1bdaa;
}
.mainConsejos.bgFotoConsejos .btn.btn-primary:hover {
  color: #e2d3d3;
  background-color: #969fff;
  font-weight: 500;
}

/*Estilo Main Nosotros*/
.mainNosotros.bgFotoNosotros {
  width: 100%;
  background-image: url(../assets/img/fondo\ nosotros.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.mainNosotros.bgFotoNosotros .imgNosotros {
  width: 100%;
  background-size: cover;
}
.mainNosotros.bgFotoNosotros .historiaNosotros {
  background-color: rgba(223, 216, 208, 0.9490196078);
  border-radius: 10px;
}
.mainNosotros.bgFotoNosotros .videoNosotros {
  width: 750px;
  height: 400px;
}

/*Media Query Main Nosotros*/
@media screen and (max-width: 768px) {
  .mainNosotros.bgFotoNosotros .videoNosotros {
    width: 300px;
    height: 200px;
    align-content: center;
  }
}
/*Estilos Main Galeria*/
.mainFondoGaleria {
  background-image: radial-gradient(circle, #969fff, #a2a6f4, #adaee9, #b6b5dd, #bebdd2);
}

.img-fluid {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: transform 1s ease-in-out;
}
.img-fluid:hover {
  transform: scale(0.9);
}

.img-fluid.imgArnes {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .img-fluid.imgArnes {
    height: 100%;
  }
}
@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer {
  background-image: radial-gradient(circle, #3c7563, #30787b, #3c798e, #587797, #767496);
}
.footer .contenidoFooter .linkFooter.nav1 {
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
}
.footer .contenidoFooter .linkFooter.nav1 .nav-item1 .nav-link1.colorBurdeo {
  color: #5f1f49;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.footer .contenidoFooter .linkFooter.nav1 .nav-item1 .nav-link1.colorBurdeo:hover {
  color: #3a2432;
}
.footer .contenidoFooter .linkFooter.nav1 .nav-link1.colorBurdeoClaro {
  color: #3a2432;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.footer .contenidoFooter .linkFooter.nav1 .nav-link1.colorBurdeoClaro:hover {
  color: #5f1f49;
}
.footer .casaMatriz .mapa {
  border-radius: 5px;
}
.footer .casaMatriz .parrafoFooter {
  font-size: 1rem;
  font-weight: 600;
}
.footer .suscribete .btn.btn-primary {
  color: white;
  background-color: #767469;
  border-style: none;
}
.footer .suscribete .btn.btn-primary:hover {
  color: #4e123a;
  background-color: #969fff;
  border-color: #8e857c;
}
.footer .rrss {
  animation-name: flotar;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.footer .fa-instagram {
  color: #9921b1;
  font-size: 3rem;
  padding-right: 30px;
  padding-left: 10px;
}
.footer .fa-facebook {
  color: blue;
  font-size: 3rem;
  animation-delay: 0.2s;
}
.footer .fa-whatsapp {
  color: #25D366;
  font-size: 3rem;
  padding-right: 10px;
  padding-left: 30px;
  animation-delay: 0.4s;
}

.divFooter {
  color: #4e123a;
  background-image: radial-gradient(circle, #3c7563, #458470, #4f937d, #58a28b, #62b299);
  padding-top: 20px;
  padding-bottom: 10px;
}

/*media query Footer*/
@media screen and (max-width: 768px) {
  .footer {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .suscribete .btn.btn-primary {
    margin-right: 150px;
  }
}

/*# sourceMappingURL=estilos.css.map */
