@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin:0;
    padding:0;
   
}

body
{
    font-family: nunito ;
    color: #4e123a
}
h1
{
    font-size:3rem ;
    font-weight: 800;
    
}
/* media query h1*/
@media screen  and (max-width:768px) 
{
    h1 
    {
        font-size: 2rem;
        text-align: center;
    }
}

h2
{
    font-size:2rem ;
    font-weight:700 ;
}

h3
{
    font-size: 1.5rem;
    font-weight: 600;
}
h4
{
    font-size: 1rem;
    font-weight: 700;
}

/*Estilos del Header*/

.navbar-dark.bgNavegacion
{
    background-color: #3c7563b4 ;
       
    .navbar-nav{ 
            .nav-link.colorMorado 
            {
         color: #4e123a;
            font-weight: 600;
                &:hover
                { 
             color: #6f385d;
             border-bottom: 2px solid #4e123a ;
                }
             }
            .nav-link.colorMoradoClaro 
            {
            color: #6f385d;
            font-weight: 600;
                &:hover
                { 
                color:#4e123a ;
                border-bottom: 2px solid #6f385d  ;
                }
            }
       }
    }

    .nav-link 
    {
        display: block;
        padding: 0.5rem 1rem;
        color: #0d6efd;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

/* Estilos del Main*/
.seccionTitulo
{
        height: 85vh;
        object-fit: cover;
        padding-left: 30px;
        padding-top: 100px;
        .grosorFuenteLight
        {
        font-size: 2rem;
        font-weight: 800               
        }  
       .parrafoMain 
       {
        font-size: 1.2rem;
        font-weight: 500;
        line-height:2 ;
       }   
       .btn.btn-primary        
        {
        background-color: #b88556;
        border-color: #d1bdaa;
        }
        
        .btn-primary:hover 
        {
        color: #fff;
        background-color: #8c623c;
        border-color:#8e857c;
        font-weight: 500;
        }
}
        


.bgFotoMain
{
    width: 100%;
    background-image: url(../assets/img/gato-helecho.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
}

.seccionTarjetasIndex
{
    .tituloSeccionTarjetasIndex
    {
        color: #e2d3d3;
        background-color:#2d5548 ;
    }

    .bgTarjeta
    {
    background-color: #b88556;
    color:#eae4e4;
        .card-img-top
        {
        width: 100%;
        height: 80%;
        object-fit: cover;
        }
    }
    .card-text
    {
    color: #2d5548;
    font-weight: 650;
    }
}

.carousel-item
  {
    height: 80vh;
}
.carousel-item img
{
    height: 100%;
    object-fit: cover;
   
}

.tituloProducto
{
color: #4e123a;
background-color: #b88556;
border-radius: 5px;
font-size: 1.5rem    ;
font-weight: 700;
}


/* media query main*/
@media screen  and (max-width:768px) 
{
    .seccionTitulo
    {
        height: 50vh;
        object-fit: cover;
        padding-top: 10px;
        .grosorFuenteLight
        {
        
        font-size: 0.5rem;
        font-weight: 500 ; 
        text-align: center;
       
        }  
        .parrafoMain
        {
            font-size: 0.9rem;
            font-weight: 300;
            text-align: center;
            line-height:1.2;
            
        }
        .btn-primary        
        {
        margin-left: 150px;       
        }
    }
}

/*Estilos del Footer*/
.footer
{
    background-color: #3c7563;
   
    .contenidoFooter
    {
        .linkFooter.nav1
        {      
        list-style: none;
        text-decoration: none;
        font-size: 1rem;
       
        .nav-item1
            .nav-link1.colorBurdeo
            {
            color: #5f1f49;
            list-style: none;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
                &:hover
                {
                color: #3a2432;
                }
            }
            .nav-link1.colorBurdeoClaro
            {
                color: #3a2432;
                list-style: none;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 600;
                &:hover
                {
                    color: #5f1f49;
                }
            }         
        }
    
    }        
 
    .casaMatriz
    {
             .mapa
            {
            border-radius: 5px;
           
            }
            .parrafoFooter
            {
                font-size: 1rem;
                font-weight:600 ;
            }
    } 
    .suscribete
    {
        .btn.btn-primary
        {   
        background-color: #b88556;
        border-style: none;
        font-weight: 200;
        }
        .btn-primary:hover 
        {
        color: #fff;
        background-color: #8c623c;
        border-color:#8e857c;
        font-weight: 500;
        }
    } 
} 
 
    .fa-instagram
    {
    color: #9921b1;
    font-size: 3rem;
    padding-right: 30px;
    padding-left: 10px;
    }


    .fa-facebook
    {
    color: blue;
    font-size:3rem ;
    }


/*media query Footer*/
@media screen  and (max-width:768px) 
{
.footer
    {
      padding: 20px;                    
   
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        gap: 10px;       
    }  
}
   

/*Main Consejos*/
.mainConsejos.bgFotoConsejos
{
    width: 100%;
    background-image:url(../assets/img/fondosucu.jpg) ;   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .card-img-top
    {
    width: 100%;
    height: 60%;
    object-fit: cover;

    }
    .btn.btn-primary
    {
    background-color: #b88556;
    border-style: none;
    font-weight: 200; 
    margin-top: auto; 
    }
    
   
}

/*Estilo Main Nosotros*/
.mainNosotros.bgFotoNosotros
{
    width: 100%;
    background-image:url(../assets/img/fondo\ nosotros.png) ;   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    .imgNosotros
    {
    width:100% ;
    background-size: cover;
    }
.historiaNosotros
    {
    background-color: #dfd8d0f2;
    border-radius: 10px;
    }
}
/*Media Query Main Nosotros*/
@media screen  and (max-width:768px)
{

.videoNosotros
    {
    width:230px ;
    height: 300px;
    align-content: center;
    }   
}
 

/*Estilos Main Galeria*/
.mainFondoGaleria
    {
    background-color:#b7987a;
    }
.img-fluid
    {
    max-width: 100%;
   object-fit: cover;   
    }

.img-fluid.imgArnes
    {
    width: 100%;
    height: 80%;
    object-fit: cover;
    }

/*Estilos del Main Contacto */

.bgContacto
    {
    background-image: url(../assets/img/cactus_galeria.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    }
.btn.btn-info
        {
        color: #4e123a;
        background-color: #b88556;
        border-style: none;
        font-weight: 500;
        }
        .btn-info:hover 
            {
            color: #fff;
            background-color: #8c623c;
            border-color:#8e857c;
            font-weight: 500;
            }

