<<<<<<< HEAD
/*Estilos del Footer*/
.footer
{
    background-color: #3c7563;
=======
@keyframes flotar 
{
 0% 
 {
    transform: translateY(0);
 }
 50% 
 {
    transform: translateY(-10px);
 }
 100% 
 {
    transform: translateY(0);
 }
}



.footer
{
    background-image:$bg-footer;
>>>>>>> feature/preEntrega3
   
    .contenidoFooter
    {
        .linkFooter.nav1
        {      
        list-style: none;
        text-decoration: none;
<<<<<<< HEAD
        font-size: 1rem;
=======
        font-size: $font1rem;
>>>>>>> feature/preEntrega3
       
        .nav-item1
            .nav-link1.colorBurdeo
            {
<<<<<<< HEAD
            color: #5f1f49;
            list-style: none;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
                &:hover
                {
                color: #3a2432;
=======
            color: $color-fuente-footer-1;
            list-style: none;
            text-decoration: none;
            font-size:$font1rem;
            font-weight:$font600;
                &:hover
                {
                color:$color-fuente-footer-2;
>>>>>>> feature/preEntrega3
                }
            }
            .nav-link1.colorBurdeoClaro
            {
<<<<<<< HEAD
                color: #3a2432;
                list-style: none;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 600;
                &:hover
                {
                    color: #5f1f49;
=======
                color: $color-fuente-footer-2;
                list-style: none;
                text-decoration: none;
                font-size: $font1rem;
                font-weight:$font600;
                &:hover
                {
                    color: $color-fuente-footer-1;
>>>>>>> feature/preEntrega3
                }
            }         
        }
    
    }        
 
    .casaMatriz
    {
             .mapa
            {
<<<<<<< HEAD
            border-radius: 5px;
=======
            border-radius: $border5;
>>>>>>> feature/preEntrega3
           
            }
            .parrafoFooter
            {
<<<<<<< HEAD
                font-size: 1rem;
                font-weight:600 ;
            }
    } 
    .suscribete
    {
        .btn.btn-primary
        {   
        background-color: #b88556;
        border-style: none;
        font-weight: 200;
        }
        .btn-primary:hover 
        {
        color: #fff;
        background-color: #8c623c;
        border-color:#8e857c;
        font-weight: 500;
        }
    } 
} 
 
    .fa-instagram
    {
    color: #9921b1;
    font-size: 3rem;
    padding-right: 30px;
    padding-left: 10px;
    }


    .fa-facebook
    {
    color: blue;
    font-size:3rem ;
=======
                font-size:$font1rem;
                font-weight:$font600 ;
            }
    } 
        .suscribete
        {
            .btn.btn-primary
            {   
            color:#ffff ;
            background-color:#767469;
            border-style: none;        
            &:hover 
            {
            color:$color-fuente-principal;
            background-color: #969fff;
            border-color:#8e857c;
            }
        }
    } 
    .rrss
    {
        animation-name: flotar;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    
        .fa-instagram
        {
        color:map-get($rrss , color-ig );
        font-size: $tf-rrss;
        padding-right: 30px;
        padding-left: 10px; 
        }
        .fa-facebook
        {
        color:map-get($rrss , color-face );
        font-size:$tf-rrss ;
        animation-delay: 0.2s;
        }
        .fa-whatsapp
        {
            color: map-get($rrss, color-wsp );
            font-size: $tf-rrss;
            padding-right: 10px;
            padding-left: 30px;
            animation-delay: 0.4s;
        } 

}
    .divFooter
    {
    color: $color-fuente-principal;
    background-image: $bg-header;
    padding-top: 20px;
    padding-bottom: 10px;
>>>>>>> feature/preEntrega3
    }


/*media query Footer*/
@media screen  and (max-width:768px) 
{
.footer
    {
<<<<<<< HEAD
      padding: 20px;                    
   
=======
        padding: 20px;                    
>>>>>>> feature/preEntrega3
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        gap: 10px;       
    }  
<<<<<<< HEAD
}
=======
    .suscribete
    {
        .btn.btn-primary
        {   
        margin-right: 150px;
        
        }
    }
}
>>>>>>> feature/preEntrega3
