/*Estilos del Header*/

.navbar-dark.bgNavegacion
{
    background-color:$color-bg-header ;
       
    .navbar-nav{ 
            .nav-link.colorMorado 
            {
         color: $color-fuente-principal;
            font-weight: 600;
                &:hover
                { 
             color: #6f385d;
             border-bottom: 2px solid $color-fuente-principal ;
                }
             }
            .nav-link.colorMoradoClaro 
            {
            color: #6f385d;
            font-weight: 600;
                &:hover
                { 
                color:$color-fuente-principal ;
                border-bottom: 2px solid #6f385d  ;
                }
            }
       }
    }