/*Estilos del Header*/

/*Estilos del Header*/

.navbar-dark.bgNavegacion
{
   background-image: $bg-header;

   .logo
   {
      width: 100px;
   }
        
    .navbar-nav{ 
            .nav-link.colorMorado 
            {
         color: $color-fuente-principal;
            font-weight: 600;
                &:hover
                { 
             color: $color-fuente-deshabilitado;
             border-bottom: 2px solid $color-fuente-principal ;
                }
             }
            .nav-link.colorMoradoClaro 
            {
            color:$color-fuente-deshabilitado;
            font-weight: 600;
                &:hover
                { 
                color:$color-fuente-principal ;
                border-bottom: 2px solid $color-fuente-deshabilitado  ;
                }
            }
       }
    }