/* Estilos del Main index*/
.seccionTitulo
{
        height: 85vh;
        object-fit: cover;
        padding-left: 30px;
        padding-top: 100px;
     
       .parrafoMain 
       {
        
        line-height:2 ;
       }   
       .btn.btn-primary        
        {
        background-color:$color-terciario ;
        border-color: #d1bdaa;
        &:hover 
        {
        color:$color-fuente-secundario;
        background-color: $bg-hover;
        border-color:#8e857c;
        font-weight: $font500;
        }
    }
}
       
.bgFotoMain
{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.537), rgba(0, 0, 0, 0.537)), url(../assets/img/gato-helecho.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.seccionTarjetasIndex
{
    .tituloSeccionTarjetasIndex
    {
        color: $color-fuente-secundario;
        background-image: $bg-tarjetas;
    }

    .bgTarjeta
    {
    background-image: radial-gradient(circle, #767496, #7f7eaf, #8889c9, #8f94e4, #969fff);
    color:$color-fuente-secundario;
    border: none;
        .card-img-top
        {
        width: 100%;
        height: 80%;
        object-fit: cover;
        }
    }
    .card-text
    {
    color:$color-fuente-secundario;
    font-weight: $font600;
    }
}
 /*vista mobile*/
.carousel-item
  {
    height: 80vh;
}
.carousel-item img
{
    height: 100%;
    object-fit: cover;
   
}

.tituloProducto
{
color: $color-fuente-secundario;
background-color:$color-terciario;
border-radius: $border5;
font-size: 1.5rem;
font-weight: $font600;

}

.tituloSeccionTarjetasIndexMobile
{
    color:$color-fuente-secundario;
    background-image: $bg-tarjetas;
}

/* media query main*/
@media screen  and (max-width:768px) 
{
    .seccionTitulo
    {
        height: 50vh;
        object-fit: cover;
        padding-top: 30px;      
       
    }  
        .btn-primary        
        {
        margin-left: 150px; 
        margin-top: 70px;      
        }
    }