/*Main Consejos*/
.mainConsejos.bgFotoConsejos
{
    width: 100%;
    background-image:$bg-image-consejos ;   
    background-size: $bg-size;
    background-position: $bg-position;
    background-attachment:$bg-attachment;

    .card-img-top
    {
    width: 100%;
    height: 60%;
    object-fit: cover;
    
    }
   
    .btn.btn-primary        
    {
    width: 45%;
    background-color:$color-terciario ;
    border-color: #d1bdaa;
        
        &:hover 
        {
        color: $color-fuente-secundario;
        background-color: $bg-hover;
        font-weight: $font500;
        }
    }   
}